@import "../variables";

.sort {
  position: relative;
  &__label {
    display: flex;
    align-items: center;

    svg {
      margin-right: 8px;
    }

    b {
      margin-right: 8px;
    }

    span {
      color: $orange;
      border-bottom: 1px dashed $orange;
      cursor: pointer;
    }
  }

  &__popup {
    position: absolute;
    right: 0;
    margin-top: 15px;
    /* From https://css.glass */
    background: rgba(97, 93, 93, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(97, 93, 93, 0.3);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    width: 200px;

    ol,
    ul {
      padding-left: 0rem;
    }

    ul {
      overflow: hidden;
      li {
        padding: 12px 20px;
        cursor: pointer;

        &.active {
          font-weight: bold;
          color: $orange;
        }
      }
    }
  }
}
